{% from "_formhelpers.html" import render_field %}
{% extends "_base.html" %}
{% block body %}
  <h2>Search VoDs</h2>
  <form action="" method="post">
      <div class="input text">
          {{ form.game.label }} {{ form.game }} <br>
          {{ form.runner.label }} {{ form.runner }} <br>
          {{ form.commentator.label }} {{ form.commentator }} <br>
          {{ form.event.label }} {{ form.event }} <br>
          {{ form.search }}
      </div>
  </form>
  <h2>Results</h2>
  <ul class="entries">
  {% for vod_str in vod_strs %}
    <li>{{ vod_str }}</li>
  {% else %}
    <li><em>No VoDs matching your search!</em></li>
  {% endfor %}
  </ul>


<script>
    $(function() {
        $("#game_autocomplete").autocomplete({
            source: '{{ url_for("games.root") }}',
            method: "get",
            minLength: 1
        });

        $("#runner_autocomplete").autocomplete({
            source: '{{ url_for("participants.root") }}',
            method: "get",
            minLength: 1
        });

        $("#commentator_autocomplete").autocomplete({
            source: '{{ url_for("participants.root") }}',
            method: "get",
            minLength: 1
        });

        $("#event_autocomplete").autocomplete({
            source: '{{ url_for("events.root") }}',
            method: "get",
            minLength: 1
        });
    });
</script>

{% endblock %}
